Data Transformation.json
{
  "name": "test 1",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fields.profession }}",
                    "rightValue": "video editor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f6dc41c1-bf91-48f5-8d22-902094cce2c9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d1dfbca8-1934-47ff-b5c6-8c05bd248d3a",
                    "leftValue": "={{ $json.fields.profession }}",
                    "rightValue": "graphic designer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -768,
        -16
      ],
      "id": "8da3031a-6d94-48a1-9774-94534666cd14",
      "name": "Switch"
    },
    {
      "parameters": {
        "formTitle": "my team",
        "formFields": {
          "values": [
            {
              "fieldLabel": "=name"
            },
            {
              "fieldLabel": "Notes"
            },
            {
              "fieldLabel": "profession",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "video editor"
                  },
                  {
                    "option": "graphic designer"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1120,
        -16
      ],
      "id": "e014166d-3f01-404b-8bb9-607b55e91213",
      "name": "form",
      "webhookId": "b1310c06-94f1-4fe9-9c7a-02eb3cad1f5d"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appKZawfZM9AiPI0t",
          "mode": "list",
          "cachedResultName": "RETURN.xlsx",
          "cachedResultUrl": "https://airtable.com/appKZawfZM9AiPI0t"
        },
        "table": {
          "__rl": true,
          "value": "tblnXdN4Wss4nIbjY",
          "mode": "list",
          "cachedResultName": "ITR(23)",
          "cachedResultUrl": "https://airtable.com/appKZawfZM9AiPI0t/tblnXdN4Wss4nIbjY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "Notes": "={{ $json.Notes }}",
            "profession": "={{ $json.profession }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DETAILS OF RETURN FILING  (2022-2023)",
              "displayName": "DETAILS OF RETURN FILING  (2022-2023)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "profession",
              "displayName": "profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "video editor",
                  "value": "video editor"
                },
                {
                  "name": "graphic designer",
                  "value": "graphic designer"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -960,
        -16
      ],
      "id": "201931b6-4f1c-4dca-8310-3f68aeb8c2d7",
      "name": "record",
      "credentials": {
        "airtableTokenApi": {
          "id": "XwwCaY4hFO2M0GjC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appKZawfZM9AiPI0t",
          "mode": "list",
          "cachedResultName": "RETURN.xlsx",
          "cachedResultUrl": "https://airtable.com/appKZawfZM9AiPI0t"
        },
        "table": {
          "__rl": true,
          "value": "tblnXdN4Wss4nIbjY",
          "mode": "list",
          "cachedResultName": "ITR(23)",
          "cachedResultUrl": "https://airtable.com/appKZawfZM9AiPI0t/tblnXdN4Wss4nIbjY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rating": 5,
            "id": "={{ $('record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "DETAILS OF RETURN FILING  (2022-2023)",
              "displayName": "DETAILS OF RETURN FILING  (2022-2023)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "profession",
              "displayName": "profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "video editor",
                  "value": "video editor"
                },
                {
                  "name": "graphic designer",
                  "value": "graphic designer"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -560,
        -112
      ],
      "id": "50abd6c9-4514-4be6-8a78-b3f6c13e5a3c",
      "name": "video",
      "credentials": {
        "airtableTokenApi": {
          "id": "XwwCaY4hFO2M0GjC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appKZawfZM9AiPI0t",
          "mode": "list",
          "cachedResultName": "RETURN.xlsx",
          "cachedResultUrl": "https://airtable.com/appKZawfZM9AiPI0t"
        },
        "table": {
          "__rl": true,
          "value": "tblnXdN4Wss4nIbjY",
          "mode": "list",
          "cachedResultName": "ITR(23)",
          "cachedResultUrl": "https://airtable.com/appKZawfZM9AiPI0t/tblnXdN4Wss4nIbjY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rating": 3,
            "id": "={{ $('record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "DETAILS OF RETURN FILING  (2022-2023)",
              "displayName": "DETAILS OF RETURN FILING  (2022-2023)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "profession",
              "displayName": "profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "video editor",
                  "value": "video editor"
                },
                {
                  "name": "graphic designer",
                  "value": "graphic designer"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -560,
        64
      ],
      "id": "022b647f-7bf3-4f33-aaae-13ba9dc02400",
      "name": "graphic",
      "credentials": {
        "airtableTokenApi": {
          "id": "XwwCaY4hFO2M0GjC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=i want to act like a best poem creator the poem should be of two line \npeom include \nname:{{ $json.fields.name }}\nNotes:{{ $json.fields.Notes }}\nprofession:{{ $json.fields.profession }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -320,
        -32
      ],
      "id": "51a7c30f-c299-40e8-b6a6-b1ee89bfb3b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        160
      ],
      "id": "00a46d15-3c8c-4cf0-94e0-4311860cf59b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GebkcItYS1NWrabi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appKZawfZM9AiPI0t",
          "mode": "list",
          "cachedResultName": "RETURN.xlsx",
          "cachedResultUrl": "https://airtable.com/appKZawfZM9AiPI0t"
        },
        "table": {
          "__rl": true,
          "value": "tblnXdN4Wss4nIbjY",
          "mode": "list",
          "cachedResultName": "ITR(23)",
          "cachedResultUrl": "https://airtable.com/appKZawfZM9AiPI0t/tblnXdN4Wss4nIbjY"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "poem": "={{ $json.output }}",
            "id": "={{ $('record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "DETAILS OF RETURN FILING  (2022-2023)",
              "displayName": "DETAILS OF RETURN FILING  (2022-2023)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "profession",
              "displayName": "profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "video editor",
                  "value": "video editor"
                },
                {
                  "name": "graphic designer",
                  "value": "graphic designer"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "poem",
              "displayName": "poem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        32,
        -32
      ],
      "id": "305bf671-3833-4f8a-ad86-a167a412afc7",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "XwwCaY4hFO2M0GjC",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "graphic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form": {
      "main": [
        [
          {
            "node": "record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "record": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "graphic": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "video": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2465983e-9aa2-48e8-9cb3-a29a75c826b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7eee2177312bba3484862af41f40e8168a40c391e4ff7de5e0168ae5e1b9a41"
  },
  "id": "0mW26mCyIgShQLsr",
  "tags": []
}